<!-- views/partials/header.ejs -->

<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" href="#">
        <!--<img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
        App Name
    </a>

    <a id="account" href="#" style="color: #fff">
        <span class="name"><%= username %></span>
        <i class="fa fa-user-circle fa-2x"></i>
    </a>
</nav>