<!-- Modal -->
<div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="newTaskModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newTaskLabel">New Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="newTaskForm" action="">
                    <div id="newTask-response"></div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="featureName">Feature:</label>
                            <select class="form-control" id="newTaskFeatureID"></select>
                        </div>
                        <div class="form-group">
                            <label for="taskName">Task Name:</label>
                            <input type="text" class="form-control" id="taskName">
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" rows="5" id="description"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="assignedTo">Assign task to: </label>
                            <select class="form-control" id="newTask-assignedTo" multiple>
                                <option value="1">Person 1</option>
                                <option value="2">Person 2</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6" class="form-group">
                                    <label class="col" class="control-label" for="date">Estimated Start: </label>
                                    <input id="newTask-startDate" class="form-control date-picker" placeholder="MM/DD/YYYY" type="text" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="col" class="control-label" for="date">Estimated Finish: </label>
                                    <input id="newTask-endDate" class="form-control date-picker" placeholder="MM/DD/YYYY" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button id="add-task" type="submit" class="btn btn-primary">Save Task</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
