<!-- Modal -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Feature</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    
</head>

<div class="modal fade" id="newFeatureModal" tabindex="-1" role="dialog" aria-labelledby="newFeatureModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newFeatureLabel">Add New Feature</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="newFeatureForm" action="">
                    <div class="form-group">
                        <label for="newFeatureName">Feature Name</label>
                        <input type="text" class="form-control" id="newFeatureName">
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="newFeatureParent">Parent Feature</label>
                        <select class="form-control" id="newFeatureParent">
                            <option>(None)</option>
                        </select>
                    </div>
                    <br />
                    <from method="post">
                        <div class="row">
                            <div class="col-sm-5" class="form-group">
                                <label class="col" class="control-label" for="date">Estimated Start: </label>
                                <input id="datepickerFeatureS" class="form-control" id="fromDate" name="date" placeholder="MM/DD/YYYY" type="text" />
                            </div>
                            <div class="col-sm-5">
                                <label class="col" class="control-label" for="date">Estimated Finish: </label>
                                <input id="datepickerFeatureF" class="form-control" id="toDate" placeholder="MM/DD/YYYY" type="text" />
                            </div>
                        </div>
                    </from>
                    <script>
                            $('#datepickerFeatureS').datepicker({
                                uiLibrary: 'bootstrap4'
                            });
                            $('#datepickerFeatureF').datepicker({
                                uiLibrary: 'bootstrap4'
                            });
                    </script>   
                    <br>
                    <div class="form-group">
                        <a class="dropdown-item" data-toggle="modal" data-target="#newTaskModal">+Add Task</a>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>