<!-- Modal -->
<div class="modal fade" id="projectSettingsModal" tabindex="-1" role="dialog" data-projectID="">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectSettingsModalLabel">Project Settings</h5>
                <button type="button" class="edit btn btn-info" data-target="projectSettings-form">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="projectSettings-response"></div>
                <form id="projectSettings-form"action="">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="projectSettings-name" class="form-control" name="name" placeholder="Enter name" disabled>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="projectSettings-desc" class="form-control" name="description" placeholder="Enter Description" rows="2" disabled></textarea>
                    </div>

                    <div class="form-group delete hidden">
                        <label for="projectSettings-delete">Delete Project</label>
                        <div class="input-group mb-3" style="margin-bottom: 0!important;">
                            <input type="text" class="form-control" id="projectSettings-delete" name="delete" placeholder="Project Name" disabled>
                            <div class="input-group-append">
                                <button id="delete-project" class="btn btn-danger" type="button" disabled>Delete</button>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <p>Project Users:</p>
                    <ul id="settings-user-list"></ul>
                    <label for="addUser">Add Users</label>
                    <div id="projectSettingsUsers-response"></div>
                    <div class="input-group mb-3" style="margin-bottom: 0!important;">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        <input type="text" class="form-control no-edit" id="projectSettingsAddUser" name="addUser" placeholder="Username">
                        <div class="input-group-append">
                            <button id="add-users" class="btn btn-primary" type="button">Add</button>
                        </div>
                    </div>
                    <br>


                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" disabled>Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>