<div class="modal fade" id="readFeatureModal" tabindex="-1" role="dialog" data-featureID="">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rem-feat-mod-id">Feature</h5>
                <button type="button" class="edit btn btn-info" data-target="editFeature-form">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="readFeature-response"></div>
                <form id="editFeature-form" action="">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="editFeature-name" class="form-control" name="name" placeholder="Enter name" disabled>
                    </div>

                    <div class="form-group">
                        <label for="editFeature-parent">Parent Feature</label>
                        <select class="form-control no-edit" id="editFeature-parent" disabled>
                            <option value="null">(Root)</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label class="control-label" for="editFeature-startDate">Estimated Start</label>
                            <input id="editFeature-startDate" class="form-control date-picker" name="start date" placeholder="MM/DD/YYYY" type="text" disabled />
                        </div>
                        <div class="col-6">
                            <label class="control-label" for="editFeature-endDate">Estimated Finish</label>
                            <input id="editFeature-endDate" class="form-control date-picker" name="end date" placeholder="MM/DD/YYYY" type="text" disabled />
                        </div>
                    </div>

                    <br />
                    <label for="readFeature-tasks">Tasks</label>
                    <table class="table table-striped">
                        <thead class="">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Status</th>
                                <th scope="col">Est Start Date</th>
                                <th scope="col">Est End Date</th>
                            </tr>
                        </thead>
                        <tbody id="readFeature-tasks"></tbody>
                    </table>

                    <ul id="" class="list-group"></ul>

                    <br />

                    <div class="modal-footer">
                        <div class="col-4 text-left">
                            <button id="delete-featureBtn" type="button" class="btn btn-danger" disabled>Delete</button>
                        </div>
                        <div class="col-8 text-right">
                            <button type="submit" class="btn btn-primary" disabled>Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>