<ul id="task-list" class="list-unstyled">
    <div class="container">
        <div class="modal fade" id="readFeatureModal" tabindex="-1" role="dialog" aria-labelledby="newFeatureModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="rem-feat-mod-id">Remove Feature</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="newFeatureForm" action="">
                            <div id="read-feature-form-id" class="form-group"> </div>
                            <br />
                            <br />
                            <div class="modal-footer">
                                <button id="delete-featureBtn" type="submit" class="btn btn-danger">Delete</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ul>