<ul id="task-list" class="list-unstyled">
    <div class="container">
        <div class="modal fade" id="readTaskModal" tabindex="-1" role="dialog" aria-labelledby="newTaskModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="editTaskForm" action="">
                            <div id="read_task_form_id" class="form-group"> </div>
                            <label>Name</label>
                            <h2 id="editTaskForm_name"></h2>
                            <label>Description</label>
                            <p id="editTaskForm_description"></p>
                            <br />
                            <br />
                            <div class="modal-footer">
                                <button id="start-task" type="submit" class="btn btn-primary">Start Task</button>
                                <button id="delete-taskBtn" type="submit" class="btn btn-danger">Delete</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ul>