<ul id="task-list" class="list-unstyled">
    <div class="container">
        <div class="modal fade" id="added-alert" tabindex="-1" role="dialog" aria-labelledby="newFeatureModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <p id="alert-msg">
                            Feature successfully added.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</ul>


