<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed" rel="stylesheet">

<div id="timeline" style="height: 400px;">
    <script type="text/javascript">
        google.charts.load('current', {'packages':['timeline']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var container = document.getElementById('timeline');
            var chart = new google.visualization.Timeline(container);
            var dataTable = new google.visualization.DataTable();

            dataTable.addColumn({ type: 'string', id: 'Task' });
            dataTable.addColumn({ type: 'string', id: 'Status' });
            dataTable.addColumn({ type: 'date', id: 'Start' });
            dataTable.addColumn({ type: 'date', id: 'End' });
            dataTable.addRows([
                ['Test Functionality', 'Pending', new Date(1789, 3, 30), new Date(1793, 2, 4) ],
                ['Test Functionality', 'Overdue', new Date(1793, 2, 4), new Date(1797, 2, 4) ],

                ['Design Dashboard UI', 'In Progress', new Date(1795, 2, 4), new Date(1798, 2, 4) ],
                ['Design Dashboard UI', 'Overdue', new Date(1798, 2, 4), new Date(1801, 2, 4) ],

                ['Refactor Code', 'Pending',  new Date(1801, 2, 4),  new Date(1804, 2, 4) ],
                ['Refactor Code', 'In Progress', new Date(1804, 2, 4),  new Date(1806, 2, 4) ],
                ['Refactor Code', 'Complete', new Date(1806, 2, 4),  new Date(1809, 2, 4) ],
                ['Refactor Code', 'Overdue', new Date(1809, 2, 4),  new Date(1811, 2, 4) ]

            ]);

            var options = {
                timeline: {
                    rowLabelStyle: { fontName: 'Roboto Condensed' },
                    barLabelStyle: { fontName: 'Roboto Condensed' }
                }//,
                //colors: ['#3366ff', '#ff9900', '#33cc33', '#ff0000']
            };


            chart.draw(dataTable, options);
        }
    </script>
</div>

