<div id="gantt-container" style="width: 1300px">
    <nav class="navbar header">
        <ul id="calendar">
            <li>March<br>1</li>
            <li>March<br>2</li>
            <li>March<br>3</li>
            <li>March<br>4</li>
            <li>March<br>5</li>
            <li>March<br>6</li>
            <li>March<br>7</li>
            <li>March<br>8</li>
            <li>March<br>9</li>
            <li>March<br>10</li>
            <li>March<br>11</li>
            <li>March<br>12</li>
            <li>March<br>13</li>
            <li>March<br>14</li>
            <li>March<br>15</li>
            <li>March<br>16</li>
            <li>March<br>17</li>
            <li>March<br>18</li>
            <li>March<br>19</li>
            <li>March<br>20</li>
            <li>March<br>21</li>
            <li>March<br>22</li>
            <li>March<br>23</li>
            <li>March<br>24</li>
            <li>March<br>25</li>
            <li>March<br>26</li>
        </ul>
    </nav>

    <div id="status-bar"></div>


    <div id="gantt-chart">
        <div class="task-list">
            <div class="task" style="left: 50px; width: 350px;">
                <div class="task-status" style="width: 350px;"></div>
            </div>
            <div class="task" style="left: 250px;">
                <div class="task-status" style="width: 250px;"></div>
            </div>
            <div class="task-list">
                <div class="task" style="left: 300px; width: 500px;">
                    <div class="task-status" style="width: 200px;"></div>
                </div>
                <div class="task" style="left: 400px;">
                    <div class="task-status" style="width: 100px;"></div>
                </div>
                <div class="task" style="left: 450px;">
                    <div class="task-status" style="width: 50px;"></div>
                </div>
                <div class="task" style="left: 300px;">
                    <div class="task-status" style="width: 200px;"></div>
                </div>
                <div class="task" style="left: 300px;">
                    <div class="task-status" style="left: 50px; width: 150px;"></div>
                </div>
            </div>
            <div class="task">
                <div class="task-status" style="left: 50px; width: 250px;"></div>
            </div>
        </div>
        <div class="task-list closed">
            <div class="task" style="left: 300px;">
                <div class="task-status" style="left: 0px; width: 200px;"></div>
            </div>
            <div class="task" style="left: 300px;"></div>
            <div class="task" style="left: 300px;"></div>
            <div class="task" style="left: 300px;"></div>
            <div class="task" style="left: 300px;"></div>
        </div>
        <div class="task-list closed">
            <div class="task" style="left: 650px; width: 600px"></div>
        </div>
    </div>
</div>
