<div id="gantt-loader" class="loader-wrapper hidden">
    <p class="lead">Loading</p>
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>
<div id="timeline-placeholder">
    <div>
        <h1 class="display-5">Project Timeline</h1>
        <p class="lead">This is your project's timeline</p>
        <hr class="my-4">
        <p>Please add a feature in the projected directory to get started!</p>
    </div>
</div>
<nav id="timeline-header" class="navbar header"><span style="padding: 0 1em;">Project Timeline</span></nav>
<div id="timeline"></div>