<nav class="navbar header">
    Messenger
</nav>
<div class="container-fluid">
    <div class="row">
        <div id="chat" class="col-sm-9">
            <ul id="messages" class="list-unstyled"></ul>
            <form id="chat-input" action="">
                <div class="input-group mb-3" style="margin-bottom: 0!important;">
                    <input id="msg" autocomplete="off" placeholder="Message" type="text" class="form-control" aria-label="message" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="frm-submit" class="btn btn-outline-secondary" type="submit">Send</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-3 no-padding user-list-container">
            <ul id="user-list"></ul>
        </div>
    </div>
</div>