<nav class="navbar header">
    <%= project.name %>
</nav>

<ul class="hierarchy-list">
    <li><i class="fas fa-caret-right"></i> Feature 1
        <ul class="hierarchy-list">
            <li><i class="fas fa-caret-right"></i> Sub-Feature 1</li>
            <li><i class="fas fa-caret-down"></i> Sub-Feature 2
                <ul class="hierarchy-list">
                    <% tasks.forEach(function(task){ %>
                        <li>
                        <% if (task.status === "Pending") { %>
                            <i class="far fa-calendar"></i>
                        <% } else if (task.status === "Started") { %>
                            <i class="fa fa-calendar"></i>
                        <% } else if (task.status === "Complete") { %>
                            <i class="fa fa-calendar-check"></i>
                        <% } else if (task.status === "Overdue") { %>
                            <i class="fa fa-calendar-times"></i>
                        <% } %>

                        <%- task.name %></li>
                    <% }); %>
                    <!--<li><i class="far fa-calendar"></i> Task Pending</li>
                    <li><i class="fa fa-calendar"></i> Task Started</li>
                    <li><i class="fa fa-calendar-check"></i> Task Complete</li>
                    <li><i class="fa fa-calendar-times"></i> Task Overdue</li>-->
                </ul>
            </li>
            <li><i class="fas fa-caret-right"></i> Sub-Feature 3</li>
        </ul>
    </li>
    <li><i class="fas fa-caret-right"></i> Feature 2</li>
    <li><i class="fas fa-caret-right"></i> Feature 3</li>
</ul>