<nav class="navbar header" >
    <%= project.name %>


    <div class="dropdown">
        <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>-->
        <button class="menu" id="projectMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bars fa-lg"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="projectMenuButton">
            <a class="dropdown-item" data-toggle="modal" data-target="#newFeatureModal">Add Feature</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#newTaskModal">Add Task</a>
        </div>
    </div>
</nav>

<ul id="project-directory" class="hierarchy-list main" data-projectID="<%= project._id %>"></ul>