<nav class="navbar header">
    To-Do List
</nav>
<ul id="user-list" class="list-group">
    <li class="list-group-item">Task Name 1</li>
    <li class="list-group-item">Task Name 2</li>
    <li class="list-group-item">Task Name 3</li>
    <li class="list-group-item">Task Name 4</li>
</ul>