html, body {
  margin: 0;
  padding: 0;
}

.display-5 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

/*========================
       Main Styles
 =========================*/
.title-box, .jumbotron {
  color: #f4f4f4;

  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.title-box {  padding: 2em 0;  }
  .title-box h1 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

.jumbotron {  border-radius: 0;  }


.hierarchy-list { text-indent: 1em; }
.hierarchy-list .hierarchy-list { text-indent: 2em!important; }
.hierarchy-list .hierarchy-list .hierarchy-list { text-indent: 3em!important; }
.hierarchy-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
  .hierarchy-list ul {
    margin-top: 0.75em;
  }

  .hierarchy-list li {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    border-bottom: solid 1px #cfcfcf;
  }
  .hierarchy-list .hierarchy-list > li:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }

  .hierarchy-list .hierarchy-list > li:first-child {
    border-top: solid 1px #cfcfcf;
  }
/* Header Styles */
#account {
  display: flex;
  align-items: center;
}
  #account > .name {
    margin-right: 0.5em;
  }


.navbar.header {
  padding: 0.75em 1em;
  border-bottom: solid 1px #333;
}

.no-padding {
  padding: 0;
}

/* Project Styles */
#project, #todo-list {
  border-right: solid 1px #cfcfcf;
}
  #project .navbar.header {
    background: #335373;
    color: #fff;
  }

/* Timeline Styles */
.gaunt-chart {
  text-align: center;
}

/* To-Do list styles */
#todo-list .navbar.header {
  background: #923122;
  color: #fff;
}

/* Messenger Styles */
.list-group-item { border-radius: 0!important; }
#messenger .list-group-item {
  padding: 0.5em;
  display: flex;
  align-items: center;
}
  #messenger .list-group-item svg {
    margin-right: 0.25em;
  }
#chat {
  min-height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
  #messages {
    overflow-y: auto;
    margin-bottom: 0;
    padding: 0 7px;
  }
    #messages > li {
      font-weight: 300;
      line-height: 1em;
      color: #555;
      padding: 5px;
    }
      #messages > li .msg-info {
        font-size: 0.8em;
        font-weight: 700;
        color: #111;
      }

        #messages > li .msg-info span.time {
          font-size: 0.9em;
          margin-left: 5px;
          font-weight: 300;
          color: #777;
        }

.project-box {
  border-radius: 5px;
  text-align: center;
  justify-content:center;
  padding: 2em;
  height: 100%;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);

  display: flex;
  align-items: center;
}
  .project-box.shadow {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }



