<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <header>
            <% include ../partials/header.ejs %>
        </header>


        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4"><%= title %></h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <% projects.forEach(function(project){ %>
                    <div class="col-md-3 mb-3">
                        <div class="project-box">
                            <div>
                                <h1 class="display-5 text-left"><%= project.name %></h1>
                                <p class="lead text-left"><%= project.description %></p>
                                <a href="#">
                                    <button type="button" class="btn btn-outline-primary">Open Project</button>
                                </a>
                            </div>
                        </div>
                    </div>
                <% }); %>
                <div class="col-md-3 mb-3">
                    <div class="project-box">
                        <a href="/dashboard/new-project">
                            <button type="button" class="btn btn-outline-primary">New Project</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
